* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 200px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.layover{
    width:100%;
    height:100%;
    background-color: rgba(black, black, black, 0,5);
}

nav{
    margin: 10px 0;
}

a {
    margin: 0 5px;
    color: lightgrey;
    text-decoration: none;
}

section {
    margin: 10px 0;
}

.jumbotron {
    max-width: 100%;
    height: 500px;
    background-image:url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.text_img {
    padding-top: 350px;
    color: white;
}

/* .section_menu {
    background-color: blue;
} */

.header_main {
    margin-bottom: 10px;
}

.header_main > h3{
    color: lightgrey;
}

.menu {
    /* height: 330px; */
    float: left;
    margin-bottom: 10px;
}

.menu.right, 
.menu.left {
    width: 25%;
    height: 200px;
}

.menu.center {
    height: 200px;
    width: calc( 50% - 20px);
    margin: 0 10px;
}

.menu img{
    object-fit: cover;
    height:200px;
    width: 100%;
}


/* footer {
    background-color: purple;
    height: 40px;
} */



